<!DOCTYPE html>
<html lang="en">
<%- include('header') %>
<body>
    <div class="container" id="about">
        <%- include('nav') %>
        <h1>About Page</h1>
        <p>This is about page.</p>
    </div>
    <%- include('footer') %>
</body>

</html>