<!DOCTYPE html>
<html lang="en">
<%- include('header') %>
<body>
    <div class="container" id="home">
        <%- include('nav') %>
        <h1>ERROR</h1>
        <p>404 page not found</p>.</p>
    </div>
    <%- include('footer') %>
</body>

</html>